body {
  font-family: 'Lucida Console';
}

.jumbotron {
  background-color: transparent;
  text-align: center;
  color: white;
}

.well {
  background-color: white;
}

#mr-roboger {
  background-image: "img/mr-roboger.jpg"
}